#contenu{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-left: auto;
    margin-top: 15vh;
}

#contenu img{
width: 7vw;
}

#search{
    width: 30vw;
    height: 5vh;
    border-radius: 7px;
    border: 1px solid gray;
    padding-left: 8px;
}
#form{
    
    text-align: center;
    margin-top: 3vh;
}
#submit{
    width: 3vw;
    height: 5vh;
    background-color: rgb(207, 201, 201);
    
}
#logo{
    display: flex;
}
#logo img{
    width: 6vw;
}

#retour{
    margin-top: 15vh;
    height: auto;
}
#annonce{
    height: 30vh;
    background-color: rgb(226, 226, 226);
    border: 2px solid black;
    border-radius:5px ;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 5vh;

}
#annonce a{
    text-decoration: none;
    right: 0;
}
#tete{
    display: flex;
    justify-content: space-between;
  
}
#description{
    height: 15vh;
    
    margin-top: 0;
    overflow-y: auto;
}